
/* MAIN CALENDAR STYLE */

.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}
.cal-head{
    display: flex;
    width: 100%;
}
#title{
    flex-grow: 1;
}
#title h5{
    font-weight: bold;
    margin: 0px;
}
#title p{
    margin: 0px;
    font-weight: lighter;
}
.weekday{
    font-weight: 600;
    background-color: lightblue;
}

/* INTERACTION */

#next:hover, #prev:hover, .date:hover{
    cursor: pointer;
}

/* EVENT STYLE  */

#new-event, #edit-event{
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
}
#new-event form, #edit-event form{
    background-color: white;
    padding: 15px;
}

/* EVENT INFO MODAL */

#e-info-data{
    padding: 5px;
}
.Vet-Appointment{
    background-color: lightpink;
}
.Feeding{
    background-color: lightsteelblue;
}
.Cleaning{
    background-color: lightcoral;
}